%menuitem-btn {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.menuitem {
  &__back-btn{
    position: absolute;
    top: 10%;
    opacity: 0.5;
    @extend %menuitem-btn;
    background: black;
    color: white;
    width: 100px;
  }
  &__back-btn:hover{
    opacity: 1;
  }

  &__body {
    margin-top: 20px;
    width: 100%;
    min-height: 100vh;
  }
  &__block{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    width: 60%;
    background: white;
    border-radius: 10px;
  }

  &__img-block{
    width: 50%;
    img {
      width: 100%;
      border-radius: 10px;
    }
    &__btn{
      @extend %menuitem-btn;
      background-color: #485e72;
      color: #fff;
    }
    &__btn:hover{
      transition: all 700ms ease;
      background: #a1ff95;
      color: black;
    }
  }

  &__text-block{
    position: relative;
    width: 100%;
    &__title{
      font-size: 3rem;
      text-align: center;

    }
    &__category, &__price{
      text-align: right;

    }
    &__price{
      font-weight: 900;
    }
  }
}